.menuSwitcher {
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.switcherBox {
    background-color: var(--bg-color);
    height: 28px;
    width: 60px;
    border-radius: 50vh;
    padding: 2px;
}

.switcher {
    border-radius: 50%;
    height: 100%;
    width: min-content;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    transition: all 0.3s;
}

.switcherBox.enabled {
    background-color: var(--inverted-bg-color);
}

.switcher.disabled {

}

.switcher.enabled {
    margin-left: calc(100% - 28px + 4px);
}