/* ✓ Use System Font Stack */
/* ✓ Disable pull-to-refresh */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
                 Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", 
                 "Segoe UI Emoji", "Segoe UI Symbol";

    overscroll-behavior-y: contain;
}

/* ✓ Disable touch-callout */
a {
    -webkit-touch-callout: none;
}

/* ✓ Tap Highlight color */
/* button {
    -webkit-tap-highlight-color: #ff000040;
} */

/* ✓ @media Standalone mode */
@media (display-mode: standalone) {
    /* rules... */
}

/* ✓ @media Standalone IOS/IPadOS */
@supports (-webkit-touch-callout: none) {

    @media (display-mode: standalone) {
        /* this will  apply on IOS/IPadOS on installed PWA */
    }
}

link[rel="manifest"] {
    --pwacompat-splash-font: 24px Verdana;
}

* {
    user-select: none;
    -webkit-user-select: none;
}