.page {
    height: 100%;
    overflow-y: auto;
    padding: var(--page-padding) var(--page-padding) 0;
    margin-bottom: var(--page-padding);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tests {
    background-color: red;
    padding: 20px;
    border-radius: var(--blockBorderRadius);
    background-color: var(--color-tertiaryBg);
}