.noActivatePage {
    height: 100%;
    overflow: hidden;
    background: var(--login-gradient-1);
}

.noActivatePageBg {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background: var(--login-gradient-2);
    filter: blur(100px);
    height: calc(100% + 200px);
    width: calc(100% + 200px);
    top: 100px;
    left: -100px;
    pointer-events: none;
}

.noActivatePageContainer {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    text-align: center;
    padding: 20px;
    font: var(--font-l);
}

.sendAgain {
    color: white;
    text-align: center;
    padding: 20px;
    font: var(--font-m);
    text-decoration: underline;
}