.pageWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper {
  width: 50vmin;
  height: 50vmin;
}

.loader {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.minusWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 0s;
}

.minus {
  width: 100%;
  height: 20%;
  background-color: var(--text-primary);
  border-radius: 50px;
  animation: rotateMinus 3s infinite;
}

.plusWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation-delay: 2s;
}

.plus {
  background-color: var(--text-primary);
  border-radius: 50px;
  animation: rotatePlus 3s infinite;
}

.plus1 {
  width: 20%;
  height: 100%;
}

.plus2 {
  width: 100%;
  height: 20%;
  position: absolute;
}

.multiplyWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: rotate(45deg);
  animation-delay: 4s;
}

.multiply {
  background-color: var(--text-primary);
  border-radius: 50px;
  animation: rotateMultiply 3s infinite;
}

.multiply1 {
  width: 20%;
  height: 120%;
}

.multiply2 {
  width: 120%;
  height: 20%;
  position: absolute;
}

.equalsWrapper {
  animation-delay: 10s;
}

.equals {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30%;
}

.equalsElement {
  width: 100%;
  height: 20%;
  background-color: var(--text-primary);
  border-radius: 50px;
}

.minusWrapper, .plusWrapper, .multiplyWrapper, .equalsWrapper {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.minus, .plus, .multiply, .equals {
  /* border-radius: 50px; */
  /* animation: rotateMinus 3s infinite; */
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes rotateMinus {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes rotatePlus {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateMultiply {
  0% {
    transform: rotate(90deg);
  }
  10% {
    transform: rotate(90deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}